.card{
    width: 211px !important;
    height: 229px !important;
}

.card2{
    width: 329px !important;
    height: 430px !important;
}

@media screen and (max-width: 640px) {
    .card {
        width: 170px !important; 
        height: 188px !important; 
    }

    .card2 {
        width: 270px !important; 
        height: 430px !important; 
    }
}





@tailwind base;
@tailwind components;
@tailwind utilities;